{% extends "base/lr_base_layout.html" %}

{% block content %}

<main id="content" role="main">
  {{ super() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% if error %}

      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          Unable to sign your deed
        </h1>

        <p>The authentication code you entered was not recognised, it may have been mistyped.</p>

        <div class="error-summary-list spacing-bottom-single">
          <a href="#auth_code">Re-enter your authentication code</a>
        </div>

        <p>Or the authentication code you entered may have expired, codes are only valid for a period of ten minutes.</p>

        <div class="error-summary-list">
          <a href="{{ url_for('searchdeed.show_authentication_code_page') }}">Request a new authentication code</a>
        </div>
      </div>

      <h2 class="heading-xlarge">Sign your mortgage deed</h2>

      {% else %}
        <h1 class="heading-xlarge">Sign your mortgage deed</h1>
      {% endif %}


      <p class="notice notice-hightlight">
        <i class="icon icon-information">
          <span class="visuallyhidden">Warning</span>
        </i>
        <strong>
          <span class="bold-small">
            {% if authentication_code == 'first' %}
            We have sent your authentication code by text message
            {% elif authentication_code == 'new' %}
            A new authentication code has been sent
            {% endif %}
          </span>
          to your mobile number ending in <span class="bold-small">{{ session.phone_number }}</span>. This may take a few minutes to arrive depending on the mobile signal in your area.
        </strong>
      </p>

      <p><span class="bold-small">Warning:  </span> <span class="text">By entering your authentication code and clicking 'Sign mortgage deed', you will be applying your digital signature</span>.</p>

      <form id="confirming-deed-form" class="form" method="post" action="{{url_for('searchdeed.verify_auth_code_no_js') }}">

        <script>
          (function() {
            var form = document.getElementById('confirming-deed-form');
            var originalUrl = "{{url_for('searchdeed.verify_auth_code_no_js') }}";
            var newUrl = "{{ url_for('searchdeed.show_confirming_deed_page') }}";
            form.action = form.action.replace(originalUrl, newUrl);
          })();
        </script>

        <div class="form-group {% if error %}error{% endif %}">
          <label class="heading-medium" for="auth_code">
            Enter your authentication code
          </label>
          <span class="form-hint" >Complete the signing of your mortgage deed by entering
            the authentication code for example 'C6E78A'</span>
            {% if error %}
            <span class="error-message">Re-enter your authentication code</span>
            {% endif %}
          <input type="text" class="form-control" id="auth_code" name="auth_code">
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Sign mortgage deed">
        </div>
      </form>
      <form class="form" method="post" action="{{ url_for('searchdeed.show_authentication_code_page') }}">
        <fieldset>
          <div class="form-group">
            <p><strong class="text bold-small">
              Authentication Code not arrived?
            </strong></p>
            <input class="button" type="submit" value="Send new code">
          </div>
        </fieldset>
      </form>
    </div>

    <div class="column-one-third">
      <div class="supplementary-panel spacing-top-single">
        <h2 class="heading-small">Help with this service</h2>
        <p>Call 0300 006 0411 if you're stuck and need help. </p>
        <p>Monday to Friday 8:30am - 5pm </p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
