{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}

    <h2 class="heading-large">Terms and Conditions</h2>
    <div class="text">

      <p>Before you can sign your mortgage deed, you will need to agree to Land Registry’s terms and conditions set out
        in our Signature Network Access Agreement.</p>

      <p><a href="/borrower-naa" target="_blank" rel="external">Click here to read the Signature Network Access Agreement</a></p>
    </div>

    {% if error %}
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          {{ error }}
        </h1>

      </div>

    {% endif %}

    <form action="/confirm-naa" method="POST">
      <input id="validate" type="hidden" name="validate" class="form-control" type="text" value="True">
      <fieldset>
        <label class="block-label" for="checkbox-agree-naa">
          <input id="checkbox-agree-naa" name="agree-naa" type="checkbox">
          I have read and accept the terms of Land Registry’s Signature Network Access Agreement.
        </label>
      </fieldset>

      <div class="text">
        <p>
          <input class="button" type="submit" value="Continue">
        </p>
      </div>

    </form>


  </main>

{% endblock %}