{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}

    <div>&nbsp;</div>

    <h2 class="heading-large">Terms and Conditions</h2>
    <div class="text">

      <p>Before you can sign your mortgage deed, you will need to agree to Land Registry’s terms and conditions set out
        in our Signature Network Access Agreement.</p>

      <a href="/borrower-naa" target="_blank"><p>Click here to read the Signature Network Access Agreement</a>
        (opens in new tab)</p>
    </div>


    <label class="form-checkbox">
      <input id="checkbox-agree-naa" name="agree-naa" type="checkbox">
      I have read and accept the terms of Land Registry’s Signature Network Access Agreement.
    </label>

    <div class="text">
      <p>
        <a href="/confirm-naa" class="button">Continue</a>
      </p>
    </div>


  </main>

{% endblock %}