{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}

    <h1 class="heading-medium spacing-top-single">What is your date of birth?</h1>

    {% if form.error %}
      <div class="error-summary visuallyhidden" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">The following errors were found</h1>

        <ul class="error-summary-list">
          <li><a href="#dob-day">{{form.error}}</a></li>
        </ul>

      </div>
    {% endif %}

    <form id="enter-dob-form" action="{{ url_for('searchdeed.enter_dob') }}" method="POST">

      <fieldset>
        <legend class="{% if not form.error %}visuallyhidden{% endif %}">
          <span class="visuallyhidden">Date of birth</span>

          {% if form.error %}
            <span class="error-message">
              {{ form.error }}
            </span>
          {% endif %}
        </legend>

        <div class="form-group{% if form.error %} error{% endif %}">
          <input id="borrower_token" type="hidden" name="borrower_token" class="form-control" value="{{ form.borrower_token }}">
          <input id="validate" type="hidden" name="validate" class="form-control" value="True">

          <span class="form-hint">For example, 31 3 1980</span>

          <div class="form-date">
            <div class="form-group form-group-day">
              <span class="visuallyhidden">Required</span>
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <span class="visuallyhidden">Required</span>
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <span class="visuallyhidden">Required</span>
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" min="0" max="{{ form.current_year }}">
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group spacing-top-single">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>
  </main>

{% endblock %}
