{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}

    <div>&nbsp;</div>

    <form id="enter-dob-form" action="/date-of-birth" method="POST">
      <div class="form-group">
        <fieldset>
          <legend class="form-label-bold">What is your date of birth?</legend>

          <input id="borrower_token" type="hidden" name="borrower_token" class="form-control"
                 value="{{ form.borrower_token }}">
          <input id="validate" type="hidden" name="validate" class="form-control" value="True">
          <label class="visuallyhidden">Date of birth</label>
          <label id="example-dob" class="form-hint">For example, 31 3 1980</label>

          <div class="form-date">
            <label id="error-dob">
              {% if form.error %}
              <div class="{% if form.error %}error{% endif %}">
                  <span class="error-message" id="error-message-dob">
                    {{ form.error }}
                  </span>
              </div>
              {% endif %}
            </label>

            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" min="0"
                     max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" min="0"
                     max="{{ form.current_year }}">
            </div>
          </div>
        </fieldset>
      </div>

      <div>&nbsp;</div>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>
  </main>

{% endblock %}
