{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="govuk-box-highlight">
          <p></p>

          <h1 class="bold-large">Thank you for signing your</br> mortgage deed</h1></p>
        </div>

        <h2 class="heading-medium">What happens next?</h2>
        <ul class="list-bullet">
          {% if all_signed %}
          <li>
              The conveyancer will be notified so that they can continue to do the legal work needed for your mortgage
          </li>
          {% else %}
          <li>
              As you are borrowing money with other people, they will also need to sign the mortgage deed
          </li>
          <li>
              Once all borrowers have signed the mortgage deed, the conveyancer will be notified so that they can continue to do the legal work needed for your mortgage
          </li>
          {% endif %}

          {% if session['signed'] == False %}
          <li>
            Once all borrowers have signed the mortgage deed, the conveyancer will be notified so that they can continue
            to do the legal work needed for your mortgage
          </li>
          {% endif %}
          <li>
            Land Registry will update your title register to include the new mortgage when requested by the conveyancer
          </li>
        </ul>
        <p>
          The time this takes will vary depending on the arrangements between you and your lender and the conveyancer.
        </p>

        <div class="division-standard-top">
          <p><a href="/feedback" target="_blank">How could we improve this
            service?</a></p>
          <p><a rel="external" href="https://www.gov.uk/government/organisations/land-registry">More about the Land
            Registry</a>
          </p>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
