{% extends "base/lr_base_layout.html" %}

{% block content %}
  <main id="content" role="main">
    {{ super() }}

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="govuk-box-highlight">
          {% if returning_borrower %}
            <h1 class="bold-large">Thank you for viewing your mortgage deed, you have successfully signed out.</h1>
          {% else %}
            <h1 class="bold-large">Thank you for signing your<br> mortgage deed</h1>
          {% endif %}
        </div>

        {% if returning_borrower %}

          <a href="/">Didn't want to sign out? Sign in here</a>

          <a href="http://www.gov.uk">Return to GOV.UK</a>

        {% else %}

          <h2 class="heading-medium">What happens next?</h2>
          <ul class="list list-bullet">
            {% if all_signed %}
              <li>{{ conveyancer }} will be notified so that they can continue to do the legal work needed for your mortgage</li>
            {% else %}
              <li>As you are borrowing money with other people, they will also need to sign the mortgage deed</li>
              <li>Once all borrowers have signed the mortgage deed, {{ conveyancer }} will be notified so that they can continue to do the legal work needed for your mortgage</li>
            {% endif %}

            {% if session['signed'] == False %}
            <li>Once all borrowers have signed the mortgage deed, {{ conveyancer }} will be notified so that they can continue to do the legal work needed for your mortgage</li>
            {% endif %}
            <li>Land Registry will update your title register to include the new mortgage when requested by {{ conveyancer }}</li>
          </ul>
          <p>If you have any further queries, please contact {{ conveyancer }}.</p>

          <p class="spacing-top-single">
            <a href="/feedback" target="_blank">How could we improve this service?</a>
          </p>
          <p class="spacing-top-single">
            <a href="https://www.gov.uk/government/organisations/land-registry">More about the Land Registry</a>
          </p>

        {% endif %}

      </div>
    </div>
  </main>

{% endblock %}
