{% extends "base/lr_base_layout.html" %}

{% block content %}

  <main id="content" role="main">
    {{ super() }}

    <form id="search-deed-form" action="{{ url_for('searchdeed.enter_dob') }}" method="POST">

      {% if error %}
        <div class="text error-summary" role="group" aria-labelledby="error-deed-not-found" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-deed-not-found">Unable to find your mortgage deed</h1>
          <p>This might be because:</p>

          <ul class="list list-bullet">
            <li>the <a href="#borrower_token">borrower reference</a> was mistyped</li>
            <li>or the date of birth was not in the format dd mm yyyy</li>
          </ul>

          <p>If you continue to experience problems please contact the conveyancer.</p>
        </div>

      <h2 class="heading-medium spacing-top-single spacing-bottom-third">
        <label for="borrower_token">What is your borrower reference? <span class="visuallyhidden">Required</span></label>
      </h2>

      {% else %}

      <h1 class="heading-medium spacing-top-single spacing-bottom-third">
        <label for="borrower_token">What is your borrower reference? <span class="visuallyhidden">Required</span></label>
      </h1>

      {% endif %}

      <div class="form-group">
        <span class="form-hint spacing-bottom-third">For example, 2PB47XAS</span>
        <input id="borrower_token" class="form-control" type="text" name="borrower_token">
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>

    <details>
      <summary>I don't have a borrower reference</summary>
      <div class="panel panel-border-narrow">
        <p>If you don't have a reference you should contact the conveyancer.</p>
      </div>
    </details>

  </main>

{% endblock %}
