{% extends "base/lr_base_layout.html" %}
{% block content %}
  <main id="content" role="main">
    {{ super() }}
      <div class="text">
        <h1 class="heading-xlarge">Your session has ended</h1>
        <p class="text">This is because:</p>
          <ul class="list list-bullet">
            <li>
              You have already successfully signed your mortgage deed
              <div class="spacing-top-half spacing-bottom-half">or</div>
            </li>
            <li>There has been no activity for the past 20 minutes and you will need to <a href="{{ url_for('borrower_landing.home') }}">start again</a></li>
          </ul>
      </div>
  </main>
{% endblock %}
