{% extends "base/lr_base_layout.html" %}

{% block content %}

  <main id="content" role="main">

    {{ super() }}

    <h1 class="heading-xlarge">Sign your mortgage deed</h1>

    <div class="text">

      <p>To do this you will need:</p>

      <ul class="list list-bullet">
        <li>to verify your identity using GOV.UK verify</li>
        <li>your mobile phone registered with the conveyancer</li>
        <li>the borrower reference supplied to you by the conveyancer. You may be
            asked for your borrower reference number.</li>
      </ul>

      <div class="font-xsmall panel panel-border-wide">
        <p>Land Registry will retain and may share your personal details for fraud prevention and detection purposes.
           Land Registry may also carry out third party checks in relation to the information supplied.
           For further information please view our <a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">personal information charter.</a>
        </p>
      </div>

      <a href="{{ url_for('borrower_landing.start') }}" class="button button-start spacing-top-single">Start now</a>

      <details class="spacing-top-single">
        <summary>Why is the government involved in this?</summary>

        <div class="panel panel-border-narrow">
          <p>
            <a href="https://www.gov.uk/government/organisations/land-registry/about" rel="external">Land Registry</a>
            records any hange to the ownership of registered land or property - this includes changes to mortgages and leases.
          </p>
        </div>
      </details>

    </div>
  </main>
{% endblock %}
