{% extends "base/lr_base_layout.html" %}
{% block content %}
  <main id="content" role="main">
    {{ super() }}
    <h1 class="heading-large">Sorry, you can't sign your mortgage deed online</h1>

    <div class="text">
      <p>Your identity has been verified but we have been unable to match your details with a mortgage deed held by Land Registry.</p>

      <h2 class="heading-medium">What do I do next?</h2>
      <ul class="list list-bullet">
        <li>You will need to sign a paper mortgage deed</li>
        <li>You will need to tell your conveyancer Land Registry was unable to match your details to a digital mortgage deed</li>
        <li>If other people are borrowing money with you, they will also need to sign a paper mortgage deed. They won’t need to use this online service</li>
      </ul>

      <div class="panel panel-border-narrow spacing-top-single">
        <h2 class="heading-small">Can I still use Verify?</h2>
        <p>You do not need to re-register with Verify.</p>
        <p>Even though you haven’t been able to use this online service, you will still be able to access other government services with your GOV.UK Verify account.</p>
      </div>
    </div>
  </main>
{% endblock %}
