{% set page_title = 'Sign your mortgage deed' %}
{% set asset_path = url_for('static', filename='') %}

{% extends "base/govuk_template.html" %}

{% block head %}

  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main-ie8.css') }}" /><![endif]-->

  <!-- google analytics code -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
      a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create','{{ config["GOOGLE_ANALYTICS_CODE"] }}', 'auto');
    ga('send', 'pageview');
    ga('set', 'anonymizeIp', true);
  </script>

{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <div id="proposition-menu">
        <span id="proposition-name">Sign your mortgage deed</span>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_end %}
  <script type=text/javascript src="{{ url_for('static', filename='javascripts/main.js') }}"> </script>
{% endblock %}

{% block content %}
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="{{ url_for('borrower_landing.user_feedback') }}" target="_blank">feedback</a> will help us to improve it.</span>
    </p>
  </div>
{% endblock %}
