.deed-document-bounds {
  margin-bottom: 30px;
  padding: 0 30px 30px 30px;
  border-color: #2b8cc4;
  border-width: 3px 2px;
  border-style: solid;
}

.awaiting-information {
  color: #6f777b;
}

.information-name-bold {
 font-weight: bold;
}

.information-signature-blue{
 color: #005EA5;
 font-style: italic;
 font-style: bold;
}
