@import 'landregistry';

.awaiting-information {
  color: #6f777b;
}

.deed-form-ref {
  margin-top: ($gutter * 2);
}

.deed-address-list {
  list-style-type: none;
  padding-bottom: 20px;
}

.iframe-feedback {
  width: 750px;
  height: 730px;
  border: 0;
}
